<h2>Movie List</h2>
  <ul>
    <li *ngFor="let movie of movies">
      {{ movie.title }}
    </li>
  </ul>
  <!-- <div class="table-responsive"> -->

    <!-- <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Director</th>
          <th>Year</th>
          <th>Genres</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of title">
          <td>{{ movie.title }}</td>
          <td>{{ movie.director }}</td>
          <td>{{ movie.year }}</td>
          <td>{{ movie.genres }}</td>
        </tr>
      </tbody>
    </table> -->
  <!-- </div> -->

